$background-color-items: #5E5E5E;
$background-color-main: #C1E3DB;
$background-color-secundary: #FBFBFB;
$background-color-buttons: #9B52E0;
$background-color-details: #C4C4C4;
$color-main: #282932;
$color-secundary: #5E5E5E;
$color-favs: #EEB4A8;
$color-letters: #F1F1F1;
